/**
//////////////////////////////
HEADER
//////////////////////////////
**/
.main-nav{
  background: $dark-grey;
  color: $white;
  padding-top: 20px;

  @include box-shadow(rgba(0,0,0,0.5) 0px 2px 2px);
  z-index: 9;

  @include breakpoint($narrow){
    height: 80px;
  }

  .container{
    .one{
      margin-bottom: 20px;
    }
    .logo{
      float: left;
    }

    @include breakpoint($mobile){
      padding: 0 5px;
    }
  }
}